*.orig
*.rej
*~
*.DS_Store
*.o
*.swp
*.log
*.pyc

# IDEA
.idea
.idea/
.vscode/

# PHP
.php-cs-fixer.cache

# MkDocs
build/
docs/CHANGELOG.md

# Python for MkDocs
.venv/
venv/

# Tests
tests/.env
tests/api_tests/.pytest_cache
tests/lizmap/www/
tests/lizmap/var/
tests/lizmap/qgis-server-plugins/
tests/lizmap/cache-python
tests/lizmap/local-python
